<template>
  <div id="app">

    <div class="container">
      <div class="row">
        <div class="col">

          <h1>Directives example</h1>
          <p v-highlight:background="'red'">Testing test</p>
          <p v-highlight:background="'green'">Testing test</p>
          <p v-highlight:background="'blue'">Testing test</p>
          <p v-highlight:text="'red'">Testing test</p>
          <p v-highlight:text="'green'">Testing test</p>
          <p v-highlight:text="'blue'">Testing test</p>

          <p v-highlight:background.delay="'purple'">Testing test</p>
          <p v-highlight:text.delay="'purple'">Testing test</p>

          <p v-local-highlight:background.delay.blink="{mainColor:'orange', altColor: 'green'}">Testing test</p>
          <p v-local-highlight:text.delay="'orange'">Testing test</p>


        </div>
      </div>
    </div>

  </div>
</template>

<script>
export default {
  name: 'App',
  components: {
  },
  directives: {
    'local-highlight':{
      bind(el, binding, vnode){
        let delay = 0;
        if(binding.modifiers['delay']){
          delay = 3000;
        }

        if(binding.modifiers['blink']){
          let mainColor = binding.value.mainColor;
          let altColor = binding.value.altColor;
          let currentColor = mainColor;
          let timeout = setTimeout(() => {
            let interval = setInterval(() => {
              if(binding.arg == 'background'){
                  el.style.backgroundColor = currentColor;
              }
              if(binding.arg == 'text'){
                  el.style.color = currentColor;
              }
              currentColor = (currentColor == mainColor)? altColor: mainColor;
            }, 1000);
          }, delay);
        }
        else{
          let timeout = setTimeout(() => {
            if(binding.arg == 'background'){
                el.style.backgroundColor = binding.value;
            }
            if(binding.arg == 'text'){
                el.style.color = binding.value;
            }    
          }, delay);
        }
      }
    }
  }
}
</script>

<style>
</style>
